# git ignore file

# Executables
#-------------
*.exe

# Libraries
#-----------
*.so
*.a
*.dll
*.lib
*.dylib

# Objects
#----------
*.o

# IDE Files
#-----------
#*.workspace
#*.project

# Folders
#----------
build
docs
wiki
src/tests

# Binary folders
#----------------
bin32
bin64
*/bin32
*/bin64
*/obj
